
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.messageBox {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 12px;
  /*background: #f4f4f7;*/
  margin: 0 auto;
  max-width: 900px;
}

.messageBox textarea {
    flex: 1;
    min-height: 40px;
    max-height: 200px;
    resize: none;
    padding: 12px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    overflow-y: auto;
    padding: 12px 14px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}
.messageBox input:focus{
      border-color: #888;

}
#submit{
   padding: 10px 18px;
    border: none;
    background: #0071e3;
    color: white;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
}

#submit:hover{
    background: #0e8c6c;

}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.results{
  display: flex;
  align-items: center;
  justify-content: center;
}
.results p{
  font-size: 20px;
  font-weight: bold;
}



#clear{
   padding: 10px 18px;
    border: none;
    background: #0071e3;
    color: white;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
}